{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <form class="form" method="post">
    {% csrf_token %}
  <label for="branch">Select a branch : </label>
  <select name="branch">
    <option value="IS">IS, Sem 2</option>
    <option value="CS">CS, Sem 2</option>
    <option value="EC">EC, Sem 2</option>
    <option value="CV">CV, Sem 2</option>
    <option value="ME">ME, Sem 2</option>
    <option value="AE">AE, Sem 2</option>
    <option value="EE">EE, Sem 2</option>
    <option value="AD">AD, Sem 2</option>
  </select>
  <br><br>
  <input type="submit" value="Show" class="btn btn-sm btn-primary">
</form>
<br><br><br>
{% if check %}
<h3 class="text-muted">{{branch}} Results</h3><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">USN</th>
      <th scope="col">SGPA</th>
    </tr>
  </thead>
  <tbody>
    {% for i in result %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'nmit:result' id=i.sname.id %}">{{i.sname.name}}</a></td>
      <td>{{i.sname.usn}}</td>
      <td>{{i.sgpa}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Select branch from dropdown list and press show to view branchwise result</p>
{% endif %}
</div>

{% endblock %}
