{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <p>Only enter the USN's which are missing in this site but visible in https://nmitresults.contineo.in/</p>
    <p>If your USN not there in https://nmitresults.contineo.in/. Those USN's cannot be added</p>
    <b>Last Updated</b>: 21/03/2022 10:47 PM <br><br>
    <form  method="post">
      {% csrf_token %}
      Enter missing or updated USN:
      <input type="text" name="missingusn" value="" required><br><br>
      <label for="email">Enter your email:</label>
      <input type="email" name="email" required><br>
      <input type="submit" name="" value="Add usn" class="btn btn-sm btn-primary">
    </form>
  </div>
  {% if message %}
  {{message}}
  {% endif %}
</div>
{% endblock %}
