{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <p class="text text-muted">Try <a href="{% url 'nmit:namewise' %}">NameWise</a> Feature</p>
  <p class="text text-muted">Try <a href="{% url 'nmit:branchwise' %}">BranchWise</a> Feature</p>
  <p class="text text-muted">If your name is missing it means that it was not shown in NMIT website during creation of this site</p>
  <p class="text text-muted">This site was made by web scrapping https://nmitresults.contineo.in/</p>
  <b>Missing USN ??</b>
  <a href="{% url 'nmit:missing' %}">Click here to add</a><br>
  <h3 class="text-center">2nd SEM toppers list 2021-2022</h3>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">USN</th>
        <th scope="col">BRANCH</th>
        <th scope="col">SGPA</th>
      </tr>
    </thead>
    <tbody>
      {% for i in topper1 %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'nmit:result' id=i.sname.id %}">{{i.sname.name}}</a></td>
        <td>{{i.sname.usn}}</td>
        <td>{{i.branch}}</td>
        <td>{{i.sgpa}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br><br>
  <h3 class="text-center">Branch Wise</h3>
  <br><br>
  <h2>Information Science</h2>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">USN</th>
        <th scope="col">SGPA</th>
      </tr>
    </thead>
    <tbody>
      {% for i in is1 %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'nmit:result' id=i.sname.id %}">{{i.sname.name}}</a></td>
        <td>{{i.sname.usn}}</td>
        <td>{{i.sgpa}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <h2>Computer Science</h2>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">USN</th>
        <th scope="col">SGPA</th>
      </tr>
    </thead>
    <tbody>
      {% for i in cs1 %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'nmit:result' id=i.sname.id %}">{{i.sname.name}}</a></td>
        <td>{{i.sname.usn}}</td>
        <td>{{i.sgpa}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <h2>AI & DS</h2>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">USN</th>
        <th scope="col">SGPA</th>
      </tr>
    </thead>
    <tbody>
      {% for i in ai1 %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'nmit:result' id=i.sname.id %}">{{i.sname.name}}</a></td>
        <td>{{i.sname.usn}}</td>
        <td>{{i.sgpa}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <h2>Electronics and Communication</h2>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">USN</th>
        <th scope="col">SGPA</th>
      </tr>
    </thead>
    <tbody>
      {% for i in ec1 %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'nmit:result' id=i.sname.id %}">{{i.sname.name}}</a></td>
        <td>{{i.sname.usn}}</td>
        <td>{{i.sgpa}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <h2>Electrical</h2>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">USN</th>
        <th scope="col">SGPA</th>
      </tr>
    </thead>
    <tbody>
      {% for i in ee1 %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'nmit:result' id=i.sname.id %}">{{i.sname.name}}</a></td>
        <td>{{i.sname.usn}}</td>
        <td>{{i.sgpa}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <h2>Mechanical</h2>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">USN</th>
        <th scope="col">SGPA</th>
      </tr>
    </thead>
    <tbody>
      {% for i in me1 %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'nmit:result' id=i.sname.id %}">{{i.sname.name}}</a></td>
        <td>{{i.sname.usn}}</td>
        <td>{{i.sgpa}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<br>
<h2>Aeronautical </h2>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">USN</th>
      <th scope="col">SGPA</th>
    </tr>
  </thead>
  <tbody>
    {% for i in ae1 %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'nmit:result' id=i.sname.id %}">{{i.sname.name}}</a></td>
      <td>{{i.sname.usn}}</td>
      <td>{{i.sgpa}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<h2>Civil</h2>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">USN</th>
      <th scope="col">SGPA</th>
    </tr>
  </thead>
  <tbody>
    {% for i in cv1 %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'nmit:result' id=i.sname.id %}">{{i.sname.name}}</a></td>
      <td>{{i.sname.usn}}</td>
      <td>{{i.sgpa}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
