{% extends 'base.html'%}

{%block scripts%}
<script>
// jquery function
$(document).ready(function(){
  const ctx = document.getElementById('Chart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{%for i in x%}'{{i}}',{%endfor%}],
                datasets: [{
                    label: '# Total students',
                    data:[{%for j in y%}'{{j}}',{%endfor%}],
                    backgroundColor: [
                    'rgba(12, 242, 66, 0.6)',
                    'rgba(12, 242, 66, 1)',
                    'rgba(230, 242, 12, 0.6)',
                    'rgba(230, 242, 12, 1)',
                    'rgba(242, 165, 12, 1)',
                    'rgba(242, 12, 12, 1)',
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(12, 234, 242, 1)',
                    'rgba(255, 99, 132, 0.5)',
               ],
                }]
            },
            options: {
               responsive: false,
          }
        });
    });
</script>
{%endblock scripts%}

{%block content%}
<div class="container">
  <div class="jumbotron">
    <form method="post">
      {% csrf_token %}
      <label for="subject">Select any subject to view grade wise data : </label>
      <select name="subject">
        {% for j in temp %}
        <option value="{{j.code}}">{{j.name}}</option>
        {% endfor %}
      </select>
      <br><br>
      <input type="submit" value="Show" class="btn btn-sm btn-primary">
    </form>
  </div>

  {% if check %}
  <h2 class="muted">You are now seeing {{subject}} Grade wise data</h2>
  <canvas id="Chart" width="650" height="650"></canvas>
</div>

  {% endif %}

{%endblock%}
